body {
    background: #27A5A9
}

h1.contentBox {
    font-size: xx-large;
}

/* unvisited link */
a:link {
    color: #007A2D;
}
/* visited link */
a:visited {
    color: #08A6A3;
}

/* mouse over link */
a:hover {
    color: #FEAE03;
}

.right {
    width: 65%;
    float: right;
}

.left {
    width: 30%;;
    float: left;
}

.contentBox {
   color: #11474B;
   border: 2px solid #11484C;
   margin: 5px;
   padding: 5px;
   background: #CAFDF9;
   font-size: x-large;
}


.smallTitle {
    display: none;
}

.footer {
    display: inline-block;
    border: 2px solid #11484C;
    background: #CAFDF9;
    padding: 0 20px 0 20px;
}

@media (max-width: 450px) {

    .rightbox {
        float: none;
        font-size: 2em;
    }

    .leftbox {
        float: none;
        font-size: 2em;
    }

    .regularTitle {
        display: none;
    }

    .smallTitle {
        display: inline;
    }
}